/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.red {
    color: rgb(227, 94, 107);
}

.erro {
    color: white;
    background-color: rgb(240, 64, 64);
}

.sucesso {
    color: white;
    background-color: rgb(12, 177, 12);
}

.atencao {
    color: white;
    background-color: rgb(243, 168, 30);
}
